*{
    padding: 0;
    margin: 0;

}

/*encabezado de la pagina*/
.title{
    padding-top: 2vh;
    text-align: center;
    text-transform: uppercase;
}

/*boton para llamar a api*/
#getAPIBtn{
    margin-top: 2vh;
    margin-left: 2vw;
}

/* contenedor de todas las tarjetas */
#pokeGrid{  
    text-align: center; 
    margin-top: 5vh; 
    background-color: rgb(181, 176, 176);
    width: 100vw;
    height: 50vh;
    overflow: scroll;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

/* div contenedor de cada tarjeta */
.pokeCard{
    width: 400px;
    height: 200px;    
    background-color: gainsboro;
    padding-top: 1vh;
    margin-top: 2px;
    margin-left: 5px;
    padding-left: 5px;
    font-size: 11px;
   
}

/* contenedor del nombre de pokemon */
.pokeCard h4{
    text-transform: uppercase;
}

/*div contenedor de detalles del pokemon */
.infoPokemon{
    /* background-color: red; */
    z-index: 0;
    display: none;
    text-align: start;
   
}

 /*div contenedor de l aimagen y del div de detalles*/ 
.contenedorInfoImagen{
    padding-top: 2vh;
}



img{
    transition: transform 0.5s;
}

img:hover{
    transform: rotateY(180deg);
}