*{
    padding: 0;
    margin: 0;

}

.title{
    padding-top: 2vh;
    text-align: center;
    text-transform: uppercase;
}

#getAPIBtn{
    margin-top: 2vh;
    margin-left: 2vw;
}

#pokeGrid{  
    text-align: center; 
    margin-top: 5vh; 
    background-color: rgb(181, 176, 176);
    width: 100vw;
    height: 50vh;
    overflow: scroll;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}


.pokeCard{
    width: 400px;
    height: 200px;    
    background-color: gainsboro;
    padding-top: 1vh;
    margin-top: 2px;
    margin-left: 5px;
    padding-left: 5px;
    font-size: 11px;
   
}

.pokeCard h4{
    text-transform: uppercase;
}

.infoPokemon{
    background-color: red;
    z-index: 0;
    display: none;
   
}



img{
    transition: transform 0.5s;
}

img:hover{
    transform: rotateY(180deg);
}