*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{

    background-color: rgb(192, 192, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginContainer{
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 15vh;
}

input{
    margin-top: 1vh;
    height: 20px;
}

input[type="button"]{
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    height: 30px;
}

li{
    display: block;
}